html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    background: #b48547;
}

.about-section {
    padding-bottom:50px;
    text-align: center;
    color: white;
}

.container {
    padding: 0 16px;
    color: #5b4237;
}

    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

.title {
    color: #c8c0bb;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

    .button:hover {
        background-color: #555;
    }
    
/* Screen Sizes */
@media all and (min-width:1203px) {
    /* Desktop and bigger*/
   
}

@media all and (min-width:1025px) and (max-width:1202px) {
    /* laptop*/
    
}

@media screen and (min-width:769px) and (max-width:1024px) {
    /* bigger then tablets but less then laptop*/
    
}

@media screen and (min-width:481px) and (max-width:768px) {
    /* tablets 
    */
   
}

@media screen and (min-width:320px) and (max-width:481px) {
    /* mobile*/
    
}
