.more-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.more-desktop1 {
  width: 100%;
  height: 1000px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(57, 57, 57, 1);
}
.more-component15 {
  
  left: 10vw;
  width: 1085px;
  height: 477px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.more-text {
  top: 138px;
  left: 898px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-text02 {
  top: 237px;
  left: 898px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-text04 {
  top: 336px;
  left: 898px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-text06 {
  top: 447px;
  left: 974px;
  color: rgba(0, 0, 0, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-text08 {
  top: 10%;
  left: 45%;
  color: rgba(255, 255, 255, 1);
  width: 464px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-text10 {
  top: 138px;
  left: 714px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-text12 {
  top: 237px;
  left: 714px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-text14 {
  top: 336px;
  left: 714px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-text16 {
  top: 138px;
  left: 47%;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: relative;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-text18 {
  top: 237px;
  left: 512px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-text20 {
  top: 336px;
  left: 512px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-text22 {
  top: 24%;
  left: 45%;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: relative;
  font-size: 20px;
  align-self: auto;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-text24 {
  left: 45%;
  color: rgba(255, 255, 255, 1);
  width: 573px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-rectangle5 {
  top: 0px;
  left: 10%;
  width: 35vw;
  height: 50vh;
  position: absolute;
  border-color: transparent;
}
.more-component4 {
  top: 846px;
  left: 0px;
  width: 1280px;
  height: 153.7777557373047px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.more-line7 {
  top: 1.7777618169784546px;
  left: 0px;
  width: 1280px;
  height: 0px;
  position: absolute;
}
.more-email {
  top: 59.77776336669922px;
  left: 269px;
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.more-ico24communicationemail {
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.more-iconcolor {
  top: 8.333333015441895px;
  left: 4.166666507720947px;
  width: 42px;
  height: 33px;
  position: absolute;
}
.more-text26 {
  top: 28.777761459350586px;
  left: 70px;
  color: rgba(255, 255, 255, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-imgonlinecomua-transparentbackgroundrqrs9f6d-kemg1 {
  top: 15.777761459350586px;
  left: 917px;
  width: 195px;
  height: 138px;
  position: absolute;
  border-color: transparent;
}
.more-iconsax-linearfacebook {
  top: 59.77776336669922px;
  left: 352px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.more-twitter {
  top: 59.77776336669922px;
  left: 445px;
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.more-ico24socialmediatoolstwitter {
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.more-iconcolor1 {
  top: 8.333333015441895px;
  left: 4.165003299713135px;
  width: 42px;
  height: 35px;
  position: absolute;
}
.more-text31 {
  top: 72.77776336669922px;
  left: 586px;
  color: rgba(255, 255, 255, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-text33 {
  top: 72.77776336669922px;
  left: 758px;
  color: rgba(255, 255, 255, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-component3 {
  top: 10px;
  left: 15px;
  width: 1250px;
  height: 90px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.more-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1250px;
  height: 90px;
  position: absolute;
  border-color: transparent;
}
.more-text35 {
  top: 35px;
  left: 454.5350646972656px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.more-text37 {
  top: 35px;
  left: 701.8565063476562px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.more-text39 {
  top: 35px;
  left: 943.82080078125px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.more-text41 {
  top: 26px;
  left: 231.32078552246094px;
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.more-vector1 {
  top: 28.615081787109375px;
  left: 201.7857208251953px;
  width: 53px;
  height: 42px;
  position: absolute;
}
/*for css screen*/
@media all and (min-width:1203px) {
  /* Desktop and bigger*/
  .more-desktop1{
    height: 600px;
  }
}

@media all and (min-width:1100px) and (max-width:1202px) {
  /* laptop*/
  .more-desktop1{
    height: 600px;
  }
  .more-rectangle5{
    width: 40vw;
  }
}
/* this for width because it changes */
@media all and (min-width:1025px) and (max-width:1100px){
  /* bigger then tablets but less then laptop */
  .more-rectangle5{
    width: 45vw;
  }
}
@media screen and (min-width:769px) and (max-width:1024px) {
  /* bigger then tablets but less then laptop */
  .more-desktop1{
    flex-direction: column;
    height: 1000px;
  }
  .more-rectangle5{
    width: 60%;
    left:23%;
  }
  .more-component15{
    left:20vw;
    width: auto;
    height: 500px;
    top:50vh;
  }
  .more-component15 .more-text24{
    left:25vw;
    width: 20vw;
  }
  .more-component15 .more-text08{
    width: 60vw;
  }
  .more-component15 .more-text22{
    left:25vw;
    top:20%;
  }
}

@media screen and (min-width:481px) and (max-width:768px) {
  /* tablets 
  */
  .more-desktop1{
    flex-direction: column;
    height: 1000px;
  }
  .more-rectangle5{
    width: 80%;
    left:12%;
    right:10%;
  }
  .more-component15{
    left:15vw;
    width: auto;
    height: 500px;
    top:50vh;
  }
  .more-component15 .more-text24{
    left:25vw;
    width: 100vw;
  }
  .more-component15 .more-text08{
    width: 80vw;
    left:0px;
  }
  .more-component15 .more-text22{
    left:25vw;
    top:20%;
  }
}

@media screen and (min-width:320px) and (max-width:481px) {
  /* mobile*/
  .more-desktop1{
    flex-direction: column;
    height: 1000px;
  }
  .more-rectangle5{
    width: 80%;
    left:12%;
    right:10%;
  }
  .more-component15{
    left:15vw;
    width: auto;
    height: 500px;
    top:50vh;
  }
  .more-component15 .more-text24{
    left:25vw;
    width: 100vw;
  }
  .more-component15 .more-text08{
    width: 80vw;
    left:0px;
  }
  .more-component15 .more-text22{
    left:20vw;
    top:20%;
  }
}