.containertable {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width:400px;
    position:absolute;
    top:31%;
    left:45%;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.responsive-table .table-row {
    background-color: #393939;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
    flex-basis: 10%;
}

.responsive-table .col-2 {
    flex-basis: 40%;
}

.responsive-table .col-3 {
    flex-basis: 25%;
}

.responsive-table .col-4 {
    flex-basis: 25%;
}


@media screen and (min-width:769px) and (max-width:1024px){
    .containertable{
        width: 60vw;
        left:20%;
      }
}
@media screen and (min-width:481px) and (max-width:769px){
    .containertable{
        width: 70vw;
        left:10%;
      }
}
@media screen and (min-width:320px) and (max-width:481px) {
    /* mobile*/
    .containertable{
        width: 75vw;
        left:0%;
      }
}